{{> nav }}

<form class="container" action='/cart' method="post">
    <h1>Carrinho</h1>
    <div class="cart-container" id="cart-container">
        <div class="cart-info">
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Sub-Total</th>
                </tr>
            </thead>
            <tbody class='tbody'>
                {{!-- <tr class='product'>
                    <th scope="row">1</th>
                    <td>Produto X</td>
                    <td class="quantity">
                        <input class='quantity-value' type="number" value="1" min="0"  onchange="recalculaValor()" />
                    </td>
                    <td class="price">$<span>12.5</span></td>
                    <td class="subtotal">$<span>12.5</span></td>
                </tr>
                <tr class='product'>
                    <th scope="row">2</th>
                    <td>Produto B</td>
                    <td class="quantity">
                        <input class='quantity-value' type="number" value="2" min="0"  onchange="recalculaValor()" />
                    </td>
                    <td class="price">$<span>10</span></td>
                    <td class="subtotal">$<span>20</span></td>
                </tr>
                <tr>
                    <td></th>
                    <td></td>
                    <td></td>
                    <th scope="row">Total Pedido</th>
                    <th scope="row" id='total-value'>$<span>32.5</span></th>
                </tr> --}}
            </tbody>
            </table>
            <a href="menu"><button class="btn btn-lg btn-primary btn-block btn-signin" type="button">Adicionar Item</button></a>
        </div>
        <div class="cart-conf">
            <h3>Endereço</h3>
            <select id="endereco">
                <option value="1">Rua Castro Alves, 123, Centro - Salvador - BA</option>
                <option value="2">Rua Amaralina, 232 - Nova Esperança - Itabuna - BA</option>
            </select>

            <h3>Forma de Pagamento</h3>
            <select id="formaPgto">
                <option value="1">Dinheiro</option>
                <option value="2">Cartão Crédito</option>
                <option value="2">Cartão Débito</option>
            </select>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Finalizar Pedido</button>
        </div>
    </div>
</form>

<script src="/javascripts/cartFecha.js"></script>
{{!-- <script src="/javascripts/cart.js"></script> --}}
