{{> nav }}

<div class="container">
    <div class="card card-container-center">
        <h1>Confirmação do Pedido</h1>

        <h2>Pedido Nº 
            {{!-- {{#if codigoPedido}} --}}
                <span id='pedido'>{{codigoPedido}}</span>
            {{!-- {{/if}}  --}}
        </h2>

        <h2>Seu Pedido Está sendo Preparado...</h2>
    </div><!-- /card-container -->
</div><!-- /container -->