{{> nav }}

<div class="card-body">
  <h5 id="edit-title" class="card-title">Meu cadastro</h5>
</div>
<section id="editProfile">
  <div>
    <ul class="list-group">
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Nome completo: Grazielli Pozzi Menegardo</li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Email: graziellipozzi@gmail.com
      </li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        CPF: 99999999-99
      </li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Telefone: 99999-9999
      </li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Endereço: Rua José da Silva, num 50, São Paulo, SP
      </li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Tipo de cliente: comum
      </li>
      <li id="edit-list" class="list-group-item">
        <a id="icons-link" href=""><span><i class="fa fa-trash"></i></span></a>
        <a id="icons-link" href=""><span><i class="far fa-edit"></i></span></a>
        Forma de pagamento: Cartão de crédito
      </li>
    </ul>
  </div>

  {{!-- <ul class="list-group list-group-flush">
      <li class="list-group-item">Nome completo:</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">Email:</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">CPF:</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">Telefone:</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">Endereço:</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">Tipo de cliente</li>
      <i class="fad fa-trash-alt"></i>
      <li class="list-group-item">Forma de Pagamento</li>
      <i class="fad fa-trash-alt"></i>
     </ul> 
  </div> --}}
</section>