body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#adjust-items-nav {
  padding: 0 55px;
}

.adjust-carousel {
  padding: 20px 0;
}

.adjust-footer {
  list-style: none;
  padding-left: 0;
}

#editProfile {
  padding: 50px 450px;
}