body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#adjust-items-nav {
  padding: 0 55px;
}

.adjust-carousel {
  padding: 20px 0;
}

.adjust-footer {
  list-style: none;
  padding-left: 0;
}

//Grazielli

#editProfile {
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//Grazielli

#edit-title {
  padding-top: 30px;
  padding-left: 530px;
  padding-bottom: 0;
  font-weight: bolder;
  font-size: 30px;

}

//Grazielli

#icons-link {
  color: black;
  padding: 18px;
}

//Grazielli

#edit-list {
  width: 600px;
}
