body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#adjust-items-nav {
  padding: 0 55px;
}

.adjust-carousel {
  padding: 20px 0;
}

.adjust-footer {
  list-style: none;
  padding-left: 0;
}

#editProfile {
  padding: 50px 450px;
}

.menu-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.produto-card {
  margin: 10px 3.8vw;
  height: 52vh;
  display: flex;
  text-align: justify;
  img {
    height: 40%;
  }
  p {
    padding-top: 10px;
  }
  h6 {
    margin-left: 20px;
  }
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: #2c7bff;
  span {
    color: white;
  }
}