{{> nav }}

<div class="containerNew">
    <div class="cardNew card-containerNew">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form action='/login' method="post" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail" required autofocus>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
            {{#if errorMessage}}
                <div>
                    <span>{{errorMessage}}</span>
                </div>
            {{/if}}            
            {{#if sessionExpired}}
                <div>
                    <span>Sua sessão expirou log novamente</span>
                </div>
            {{/if}}

            <button class="btnNew btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
        </form><!-- /form -->
        <a href="/signup" class="forgot-password">Cadastrar Novo Usuário</a>
    </div><!-- /card-containerNew -->
</div><!-- /container -->
