{{> nav }}

<div class="containerNew">
    <div class="cardNew card-containerNew">
<<<<<<< HEAD
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        {{!-- <p id="profile-name" class="profile-name-card"></p> --}}
=======
>>>>>>> main
        <form action='/signup' method="post" class="form-signin">
            <input type="text" name="nomeCompleto" id="nomeCompleto" class="form-control" placeholder="Nome Completo"
                maxlength="60" required autofocus>
            <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail" required>
            <input type="text" name="cpf" id="cpf" class="form-control" onkeypress="$(this).mask('000.000.000-00');"
                placeholder="CPF" required>
            <input type="text" name="telefone" id="telefone" class="form-control"
                onkeypress="$(this).mask('(00) 00000-0000')" placeholder="Telefone" required>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
<<<<<<< HEAD
            {{!-- <div class="cardNew card-container-endereco"> --}}
                <input type="text" name="cep" id="cep" class="form-control" onkeypress="$(this).mask('00.000-000')" onblur="pesquisacep(this.value);" placeholder="Cep" required>
                <input type="text" name="rua" id="rua" class="form-control" maxlength="50"  placeholder="Rua" required>
                <input type="text" name="numero" id="numero" class="form-control" maxlength="10"  placeholder="Número" required>
                <input type="text" name="complemento" id="complemento" class="form-control"  maxlength="40" placeholder="Complemento">
                <input type="text" name="bairro" id="bairro" class="form-control" maxlength="40"  placeholder="Bairro" required>
                <input type="text" name="cidade" id="cidade" class="form-control" maxlength="40"  placeholder="Cidade" required>
                <input type="text" name="estado" id="estado" class="form-control" maxlength="2" placeholder="UF" required>
            {{!-- </div> --}}

            {{#if errorMessage}}
                <div>
                    <span>{{errorMessage}}</span>
                </div>
            {{/if}}            
=======
            <input type="text" name="cep" id="cep" class="form-control" onkeypress="$(this).mask('00.000-000')"
                onblur="pesquisacep(this.value);" placeholder="Cep" required>
            <input type="text" name="rua" id="rua" class="form-control" maxlength="50" placeholder="Rua" required>
            <input type="text" name="numero" id="numero" class="form-control" maxlength="10" placeholder="Número"
                required>
            <input type="text" name="complemento" id="complemento" class="form-control" maxlength="40"
                placeholder="Complemento">
            <input type="text" name="bairro" id="bairro" class="form-control" maxlength="40" placeholder="Bairro"
                required>
            <input type="text" name="cidade" id="cidade" class="form-control" maxlength="40" placeholder="Cidade"
                required>
            <input type="text" name="estado" id="estado" class="form-control" maxlength="2" placeholder="UF" required>

            {{#if errorMessage}}
            <div>
                <span>{{errorMessage}}</span>
            </div>
            {{/if}}
>>>>>>> main
            <button class="btnNew btn-lg btn-primary btn-block btn-signin" type="submit">Cadastrar</button>
        </form><!-- /form -->
        <a href="/login" class="forgot-password">Entrar</a>
    </div><!-- /card-container -->
</div><!-- /container -->